* {
    font-family: Roboto, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    min-height: 100vh;
}


main {
    margin-bottom: 230px;
}

button.btn-sm a {
    text-decoration: none;
    color: blue;
}

div.pages {
    font-weight: bold;

    left: 50%;

}

div.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: end;
    width: 100%;
    bottom: 8%;

}

div.pic-detail {
    margin: 0 auto;
}

h1.pic-name {
    text-align: center;
}

span.image-text {
    text-align: center;
}

div.comments {
    word-break: break-all;
    padding: 5%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

form.sign-up-form, form.redact-form {
    padding-bottom: 10vh;
}

div.comment-form {
    padding-bottom: 7vh;
    padding-left: 7vh;
}

span.comment {
    font-family: Arial, serif;
}

nav.navbar {
    align-items: center;
}

span.login {
    margin-right: 3%
}

form.logout-form {
    margin-right: 3%;
}

div.avatar img {

    margin-bottom: 2vh;
}

div.profile {
    text-align: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 2vh 3vh;
}

li.list-group-item {
    margin-bottom: 1vh;
}

div.container {
    padding-bottom: 10vh;
}

div.rating-buttons {
    padding: 1vh;
}
div.form-content, div.form-container{
    padding-left: 3vh;
}
