<html lang="ru">
{% load static %}
<head>
    <title>mcqueen racing</title>
    <link rel="stylesheet" href="{% static 'css/game_style.css' %}">
</head>
<body>
<div class="road"></div>
<img src='{% static 'images/car.png' %}' class="car">
<img src='{% static 'images/bsh.png' %}' class='bush bush1'>
<img src='{% static 'images/bsh.png' %}' class='bush bush2'>
<img src='{% static 'images/bsh.png' %}' class='bush bush3'>
<img src='{% static 'images/bsh.png' %}' class='bush bush4'>
<img src='{% static 'images/bsh.png' %}' class='bush bush5'>
<img src='{% static 'images/bsh.png' %}' class='bush bush6'>
<img src='{% static 'images/bush.png' %}' class='bush bush7'>
<img src='{% static 'images/bush.png' %}' class='bush bush8'>
<img src='{% static 'images/mountain1.png' %}' class='mountain mountain1'>
<img src='{% static 'images/mountain2.png' %}' class='mountain mountain2'>
<img src='{% static 'images/mountain1.png' %}' class='mountain mountain3'>
<img src='{% static 'images/mountain2.png' %}' class='mountain mountain4'>

<!--    <img src='images/arrow.png' class='arrow'>-->
<!--    <img src='images/detour.png' class='danger'>-->
<!--    <img src='images/coin.png' class='coin'>-->

<button type="button" class="game-button">
    <img src='{% static 'images/pause.png' %}' class="pause"/>
    <img src='{% static 'images/play.png' %}' class="play"/>
</button>
<script src={% static 'scripts/game.js' %}></script>

</body>
</html>