<html lang="ru">
{% load static %}
<head>
    <title>mcqueen racing</title>
    <link rel="stylesheet" href="{% static 'css/game_style.css' %}">
</head>
<body>
<div class="road"></div>
<img src='{% static 'images/car.png' %}' class="car">
<img src='{% static 'images/bsh.png' %}' class='bush bush1'>
<img src='{% static 'images/bsh.png' %}' class='bush bush2'>
<img src='{% static 'images/bsh.png' %}' class='bush bush3'>
<img src='{% static 'images/bsh.png' %}' class='bush bush4'>
<img src='{% static 'images/bsh.png' %}' class='bush bush5'>
<img src='{% static 'images/bsh.png' %}' class='bush bush6'>
<img src='{% static 'images/bush.png' %}' class='bush bush7'>
<img src='{% static 'images/bush.png' %}' class='bush bush8'>
<img src='{% static 'images/mountain1.png' %}' class='mountain mountain1'>
<img src='{% static 'images/mountain2.png' %}' class='mountain mountain2'>
<img src='{% static 'images/mountain1.png' %}' class='mountain mountain3'>
<img src='{% static 'images/mountain2.png' %}' class='mountain mountain4'>
<img src='{% static 'images/arrow.png' %}' class='arrow'>
<img src='{% static 'images/detour.png' %}' class='danger'>
<img src='{% static  'images/coin.png' %}' class='coin'>

<button type="button" class="game-button">
    <img src='{% static 'images/pause.png' %}' class="pause"/>
    <img src='{% static 'images/play.png' %}' class="play"/>
</button>
<div class="game-score">
    0
</div>
<div class="backdrop">
    <div class="container">
        <p class="finish-text">Итоговый счет: <span class="finish-text-score">0</span></p>
        <button type="button" class="restart-button">Начать сначала</button>
    </div>
</div>
<script src={% static 'scripts/game_scripts/constants.js' %}></script>
<script src={% static 'scripts/game_scripts/movement.js' %}></script>
<script src={% static 'scripts/game_scripts/utils.js' %}></script>
<script src={% static 'scripts/game_scripts/spritesAnimation.js' %}></script>
<script src={% static 'scripts/game_scripts/elementAnimation.js' %}></script>
<script src={% static 'scripts/game_scripts/main.js' %}></script>

</body>
</html>