{% extends 'vcars/base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">Список чатов</h1>
        <ul class="list-group">
            {% for group in groups %}
                {% include 'includes/group_includes.html' %}
            {% endfor %}
        </ul>
     <form class='add-chat' hx-post="{% url 'chat:group_list' %}" hx-target=".list-group" hx-swap="beforeend">
        {% csrf_token %}
        {{ form.as_div }}
        <input type="submit" class="btn btn-primary  btn-sm add-chat-btn" value="Создать">
    </form>
    </div>
    
    <script src="{% static 'scripts/groups_list.js' %}"></script>
{% endblock content %}
