{% extends 'vcars/base.html' %}

{% block content %}
    {% include 'includes/successful_pic_addition.html' %}
    <div class="pic-detail">
        <h1 class="pic-name">{{ pic.name }}</h1>
        <img src="/media/{{ pic.pic }}" class="img-fluid mx-auto d-block">
        <p class="text-center fw-medium fs-4">
            {{ pic.body }}
            <br>
            {% for tag in pic.tags.all %}
                <a href="{% url 'vcars:tagged_index' tag.slug %}"><span
                        class="badge text-bg-secondary">{{ tag.name }}</span></a>

            {% endfor %}
        </p>

    </div>
    <div class="comments">
    <div class="col-md-8 card mb-4  mt-3 ">
    <div class="card-body">
       <h2>{{ comments.count }} comments</h2>
        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold"> 
           {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
      </div> 
    </div>
    </div>
    <div class="comment-form">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_div }}
        <input type="submit" class="btn btn-primary  btn-lg">
    </form>
    </div>
{% endblock %}